{{#section 'title'}}
    Danh sách tìm kiếm
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        $('.addItem').on('click', function () {
            var proId = $(this).data('id');
            $('#txtP').val(proId);
            $('#frmAddToCart').submit();
        });
    </script>
{{/section}}

{{#if isEmpty }}
    Không có sản phẩm!
{{else}}
    <div>
        <span>Sắp xếp:&nbsp;</span><a class="btn btn-primary" href="?selectDanhMuc={{catId}}&txtKeyword={{proName}}&page={{pageValue}}&sort=1">Thời gian kết thúc tăng dần</a>
        <a class="btn btn-info" href="?selectDanhMuc={{catId}}&txtKeyword={{proName}}&page={{pageValue}}&sort=2">Giá giảm dần</a>
    </div>
    <div class="row" style="margin-left: 5px; margin-top: 10px;">
        {{#each products }}
            <div class="auction-item" id="auction-item-46617">
                <div class="picture">
                    <a href="/product/detail/{{SanPhamId}}"><img src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_1.jpg" border="0"></a>
                </div>
                <div class="title text-center">
                    <p type="hidden" id="namePro{{SanPhamId}}" value="{{TenSanPham}}"></p>
                    <a id='tenSP{{SanPhamId}}' href="/product/detail/{{SanPhamId}}">{{TenSanPham}}</a>
                </div>
                <div class="rows-bids rows">Bids: <span class="bids rows">{{LuotRaGia}}</span></div>
                <div class="rows-bid-price rows"><span class="last-bid-user rows">
                    <span>Người giữ giá:&nbsp;</span><span class="txtRed">
                    {{#if nameCustomer}}
                    {{nameCustomer}}
                    {{else}}
                    {{/if}}
                    </span>
                </div>
                {{#if GiaMuaNgay}}
                <div class="rows-bids rows">Giá mua ngay: <span class="bids rows">{{GiaMuaNgay}}đ</span></div>
                {{else}}
                <div class="rows-bids rows">Giá mua ngay: <span class="bids rows">Không có</span></div>
                {{/if}}
                <div class="server-time-rows">
                    <table>
                        <tbody><tr>
                            <td class="glasshour"></td>
                            <td id="time{{SanPhamId}}">23 : 44 : 42</td>
                        </tr>
                    </tbody></table>
                </div>
                <script type="text/javascript">
                    var timeout = null; // Timeout
                    
                    var today = new Date();
                    var curUnixTime = today.getTime();
                    var t = 0;
                    var namePro = "{{TenSanPham}}"
                    function time(id, timeEnd, name, timeStart) { 
                        //1498683226137
                        
                        var stop = 1;
                        t = timeEnd-curUnixTime;
                        if (t <= 0) {
                            stop = 0;
                        }
                       
                        var milliseconds = parseInt((t%1000)/100)
                            , seconds = parseInt((t/1000)%60)
                            , minutes = parseInt((t/(1000*60))%60)
                            , hours = parseInt((t/(1000*60*60))%24);

                        hours = (hours < 10) ? "0" + hours : hours;
                        minutes = (minutes < 10) ? "0" + minutes : minutes;
                        seconds = (seconds < 10) ? "0" + seconds : seconds;
                        var isNew = curUnixTime - timeStart;
                        if (parseInt((isNew/(1000*60))) >= 0 && parseInt((isNew/(1000*60))) <= 60) {
                            document.getElementById('tenSP'+id).innerText = name + ' (New)';
                        }
                        // return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
                        if (stop == 0) {
                            document.getElementById('time'+id).innerText = 'Hết giờ';
                        } else {
                            document.getElementById('time'+id).innerText = hours + ":" + minutes + ":" + seconds;
                        }
                        timeEnd = timeEnd - 1000;
                        timeout = setTimeout(function() {
                            if (stop == 1) timeEnd;
                                time(id, timeEnd, name, timeStart);
                        }, 1000);
                    }
                    time({{SanPhamId}}, {{ThoiGianKetThuc}}, namePro, {{ThoiGianBatDau}});
                </script>
                {{#if ../layoutModels.isLogged }}
                <a title="Thêm vào yêu thích" href="#" id="addLike{{SanPhamId}}" style="margin-left: 100px;"><img src="/assests/images/star.png" border="0"></a>
                {{/if}}
                <script type="text/javascript">
                    $("#addLike{{SanPhamId}}").click(function(){
                        $.ajax({
                                url: '/search/ajax',
                                type: 'POST',
                                data: {
                                    id: {{SanPhamId}},
                                },
                                success: function( data, textStatus, jQxhr ){
                                    if(data == "success") {
                                        alert("Thêm thành công");
                                    } else {
                                        alert("Sản phẩm này đã tồn tại trong yêu thích");
                                    }
                                },
                                error: function( jqXhr, textStatus, errorThrown ){
                                    alert("chưa");
                                }
                            })
                    });
                </script>
                {{#if ../layoutModels.isLogged }}
                <div class="submit-btn rows">
                    <input readonly="true" class="price" type="text" value="{{GiaHienTai}}đ"><br>
                </div>
                {{/if}}
            </div>                  
            {{/each}}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
                <li>
                    <a href="?selectDanhMuc={{catId}}&txtKeyword={{proName}}&page={{prevPage}}&sort={{sort}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="?selectDanhMuc={{catId}}&txtKeyword={{proName}}&page={{pageValue}}&sort={{sort}}">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="?selectDanhMuc={{catId}}&txtKeyword={{proName}}&page={{pageValue}}&sort={{sort}}">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <li>
                    <a href="?selectDanhMuc={{catId}}&txtKeyword={{proName}}&page={{nextPage}}&sort={{sort}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
{{/if}}

