{{#section 'title'}}
    Danh sách yêu cầu quyền bán
{{/section}}

{{#if isEmpty }}
    <form style="margin-left: 5px;margin-top: 10px;" action="/product/searchLike" method="get">
        <input type="text" maxlength="70" name="txtKeyword" id="txtKeyword" tabindex="99"  placeholder="Nhập tên sản phẩm..."/>
        <input type="submit" value="Tìm kiếm">
    </form>
    Không có yêu cầu!
{{else}}
    <div class="row" style="margin-left: 5px;margin-top: 10px;">
        <table class="auction-items" style="background-color:#fff">
        <tr>
            <th class="text-center">
            Tên khách hàng</th>
            <th class="text-center">
            Email</th>
            <th class="text-center">
            Thời gian xin</th>
        </tr>
        {{#each listRequests }}
        <tr class="row-1">
            <td align="center">
                {{HoTen}}
            </td>
            <td align="center">
                {{Email}}
            </td>

            <td align="center" id="thogianxin{{IdNguoiMua}}">

            </td>
            <script type="text/javascript">
                function timeConverter(UNIX_timestamp){
                        var a = new Date(UNIX_timestamp);
                        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                        var year = a.getFullYear();
                        var month = months[a.getMonth()];
                        var date = a.getDate();
                        var hour = a.getHours();
                        var min = a.getMinutes();
                        var sec = a.getSeconds();
                        var time = date + '/' + month + '/' + year + ' lúc ' + hour + ':' + min + ':' + sec ;
                        document.getElementById('thogianxin{{KhachHangId}}').innerText = time;
                    }
                    timeConverter({{ThoiGianXin}});
            </script>
            <td class="text-center">
                <a title="Nhấp vào để chấp nhận yêu cầu" href="/admin/acceptSeller/{{IdNguoiMua}}" id="{{IdNguoiMua}}" ><img src="/assests/images/check.png" border="0"></a>
            </td>
        </tr>
        {{/each}}
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
                <li>
                    <a href="?page={{prevPage}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <li>
                    <a href="?page={{nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
{{/if}}
