{{#section 'title'}}
    Chi tiết sản phẩm
{{/section}}
<link href="/assests/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/assests/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/assests/css/dialog.css" type="text/css" />
    <link rel="stylesheet" href="/assests/css/bbcode.css" type="text/css" />
    <link rel="stylesheet" href="/assests/css/my-style.css" type="text/css" />
    <link rel="stylesheet" href="/assests/css/v2/auction_detail.css?v=20140825" type="text/css" />
    <link rel="stylesheet" href="/assests/css/v2/auction_detail_query.css?v=20140811" type="text/css" />
    <link rel="stylesheet" href="/assests/css/style-detail.css" type="text/css" />
    
    <script language="javascript" type="text/javascript" src="/assests/js/lib/jquery-1.4.2.js"></script>
    <script language="javascript" type="text/javascript" src="/assests/js/auction.common.js"></script>
    
    <script type="text/javascript" src="/assests/js/jquery.lightbox-0.5.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/assests/css/jquery.lightbox-0.5.css" media="screen" />
    
    <link rel="stylesheet" type="text/css" href="/assests/js/markitup/skins/simple/style.css" />
    <link rel="stylesheet" type="text/css" href="/assests/js/markitup/sets/bbcode/style.css?v=20110627" />  
    <script language="javascript" type="text/javascript" src="/assests/js/markitup/jquery.markitup.js"></script>
    <script language="javascript" type="text/javascript" src="/assests/js/markitup/sets/bbcode/set.js"></script>
    
    <link rel="stylesheet" href="/assests/css/dialog.css" type="text/css" />
    <script language="javascript" src="/assests/js/dialog.js" type="text/javascript"></script>
    
    <link rel="stylesheet" href="/assests/css/jRating.jquery.css" type="text/css" />
    <script language="javascript" src="/assests/js/jRating.jquery.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="/assests/js/sound2.js"></script>

    
    <script type="text/javascript" src="/assests/js/jcarousellite.js"></script>
    <script type="text/javascript" src="/assests/js/jquery.sharrre.min.js"></script>
    <style type="text/css">
        .padding {
            padding-top: 8px;
        }
    </style>
    <style>
        #footer .frow {margin: 3px 0px;}
        #footer .frow a {font-size:12px;}
        a.lnk-5giay,a.lnk-5giay:link,a.lnk-5giay:visited {
            background: url('assests/images/5giay-logo-off.png') no-repeat 0px 0px;
            width:100px;
            height:25px;
            display:block;
            text-indent:-9999px;
            margin-top:6px;
        }
        a.lnk-5giay:hover {
            background: url('assests/images/5giay-logo-on.png') no-repeat 0px 0px;
        }
        
        a.lnk-five,a.lnk-five:link,a.lnk-five:visited {
            background: url('assests/images/five-logo-off.png') no-repeat 0px 0px;
            width:100px;
            height:17px;
            display:block;
            text-indent:-9999px;
            margin-top:9px;
        }
        a.lnk-five:hover {
            background: url('assests/images/five-logo-on.png') no-repeat 0px 0px;
        }
        
        a.lnk-giamua,a.lnk-giamua:link,a.lnk-giamua:visited {
            background: url('assests/images/giamua-logo-off.png') no-repeat 0px 0px;
            width:100px;
            height:22px;
            display:block;
            text-indent:-9999px;
            margin-top:9px;
        }
        a.lnk-giamua:hover {
            background: url('assests/images/giamua-logo-on.png') no-repeat 0px 0px;
        }
        #footer-expand-zone 
        {
            height: 41px;
            background-color:#2D6CA2;
            padding-top:1px;      
            cursor:pointer;  
        }
        #fez-line {height:2px;background-color: #666;}
        
        #fez-expand-icon 
        {
            width:31px;
            height:31px;
            margin:5px auto;
            background-image: url('assests/images/v2/downarrow.png');
            background-position: 0px 0px;
        }
        
        #fez-version 
        {
            width: 200px;
            position: absolute;
            top: 0;
            left: 0;
            line-height: 27px;
            color: #999;    
        }
        
        #layout-footer {height:auto;}
        #fez-powered-by {
            margin: 0 auto;
            color:white;
            width: 177px;
            height: 27px;
            position: absolute;
            right: 0;
            top: 0px;
            margin-top: 0px;
            background-position: 0px 0px;
        }

    </style>
    <script type="text/javascript" src="/assests/js/lib/jquery.cookies.js"></script>
    <style type="text/css">
        #select-page {
            height: 27px;
            line-height: 27px;
            padding-left: 5px;
            color: #494949;
            height: 28px;
            padding-left: 12px;
            border-bottom: solid 1px #ccc;
            background-color: #f6f6f6;
        }
        #select-page .center {
            padding-left: 18px;
            width: 980px;
            margin: 0 auto;
        }
    </style>
    <style>
        #top-link { display: none; position: fixed; right: 5px; bottom: 5px; text-decoration: none; border: 1px solid #ccc; padding: 3px; }
    </style>
{{#section 'js'}}
    <script src="/assests/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        $('#txtQ').TouchSpin({
            min: 1,
            max: 50,
            verticalButtons: true
        });
    </script>
{{/section}}

{{#with product }}
    <div id="auction-detail">
                        <div id="auction-detail-inner">
                        <div class="title">{{TenSanPham}}</div>

                        <div class="auction-images">
                        <img src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_1.jpg" border="0" />
                        </div>
                        <div class="auction-item" id="auction-item-46283" >
                        <table id="tbl-auction-item" style="margin-left: 10px;">
                        <tr>
                        <td style="vertical-align:top">
                        {{#if ../layoutModels.isLogged }}
                        <a title="Thêm vào yêu thích" href="#" id="addLike{{SanPhamId}}" style="margin-left: 50px;" ><img src="/assests/images/star.png" border="0"></a>
                        {{/if}}
                        <div class="start-time-rows" class="show-mobile">
                        Giá hiện tại: <strong>
                        {{GiaHienTai}}đ</strong>
                        </div>
                        <div class="start-time-rows" class="show-mobile">
                        Giá mua ngay: <strong>
                        {{#if GiaMuaNgay}}
                        {{GiaMuaNgay}}đ
                        {{else}}
                        Không có
                        {{/if}}
                        </strong>
                        </div>
                        <div class="start-time-rows">
                        Người bán: <a href="/product/userDetail/{{idSeller}}">
                        {{nameSeller}}</a>
                        </div>
                        <div class="start-time-rows">
                        Điểm đánh giá người bán: <a href="/product/userDetail/{{idSeller}}">
                        {{pointSeller}} %</a>
                        </div>
                        <div class="start-time-rows">
                        Người giữ giá: <a href="/product/userDetail/{{idCustomer}}">
                        {{nameCustomer}}</a>
                        </div>
                        <div class="start-time-rows">
                        Điểm đánh giá người giữ giá: <a href="/product/userDetail/{{idSeller}}">
                        {{pointCustomer}} %</a>
                        </div>
                        <div id="rate-area">
                        <div data-id="547" data-average="4.1" class="rate" id="547">
                        </div>
                        </div>
                        <div class="start-time-rows">
                        Bắt đầu: <span id="startTime">
                        </span>
                        </div>
                        <div class="start-time-rows">
                        Kết thúc: <span id="endTime">
                        </span>
                        
                        <script type="text/javascript">
                            $("#addLike{{SanPhamId}}").click(function(){
                                $.ajax({
                                        url: '/search/ajax',
                                        type: 'POST',
                                        data: {
                                            id: {{SanPhamId}},
                                        },
                                        success: function( data, textStatus, jQxhr ){
                                            if(data == "success") {
                                                alert("Thêm thành công");
                                            } else {
                                                alert("Sản phẩm này đã tồn tại trong yêu thích");
                                            }
                                        },
                                        error: function( jqXhr, textStatus, errorThrown ){
                                            alert("Có lỗi");
                                        }
                                    })
                            });
                        </script>
                        </div>
                        <div class="last-bid-user rows">
                        &nbsp;</div>
                        {{#if ../layoutModels.isLogged }}
                            <div class="submit-btn rows">
                            <form class="form-horizontal" method="post" name="form" style="margin-bottom: 10px;">
                            <input title="Giá hợp lệ nhỏ nhất" id="tiendatcuoc" class="price" type="text" value="{{GiaDeCu}}" name="tiendatcuoc" placeholder="Số tiền đặt giá" />
                            <input class="btn btn-primary" type="submit" id="btnRaGia" value="Ra giá" formaction="/product/setMoney/{{SanPhamId}}/{{GiaDeCu}}"/>
                            </form>
                            <form class="form-horizontal" method="get" name="form2">
                                <input type="hidden" title="Giá hợp lệ nhỏ nhất" id="tiendatcuoc" class="price" value="{{GiaDeCu}}" name="txtPrice" id="txtPrice" placeholder="Số tiền đặt giá" />
                                <input type="text" class="price2" placeholder="giá cao nhất" id="txtMaxPrice" name="txtMaxPrice" style="margin-left:0px;" value="" maxlength="15"  />
                                <input class="btn btn-primary" type="submit" id="btnRaGia" value="Auto Bid" formaction="/product/setAutoBid/{{SanPhamId}}"/>
                                </div>
                            </form>
                            <form class="form-horizontal" method="post" name="form">
                            <input style="margin-bottom: 10px;" type="text" class="form-control" id="nhanxet" placeholder="Nhận xét" name="nhanxet"/>
                            <input class="btn btn-primary" type="submit" id="btnLike" value="Like" formaction="/product/userDetail/{{idSeller}}/like"/>
                            <input class="btn btn-primary" type="submit" id="btnDislike" value="Dislike" onclick="javascript: form.action='/product/userDetail/{{idSeller}}/dislike';"/>
                            </form>
                            </div>
                        {{/if}}
                        </td>
                        </tr>
                        </table>
                        <div id="tbl-bids-list">
                        <table width="100%">
                        <tr>
                        <td style="vertical-align:top" id="bids-list">
                        
                        </div>
                        </td>
                        </tr>
                        </table>
                        </div>
                        <div class="clear">
                        </div>
                        </div>
                        <div class="clear">
                        </div>
                        <div id="thumb-zone">
                        <div id="thumb-items">
                        <ul>
                        <li>
                        <img src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_1.jpg"/>
                        </li>
                        <li>
                        <img src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_2.jpg"/>
                        </li>
                        <li>
                        <img src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_3.jpg"/>
                        </li>
                        </ul>
                        </div>
                        </div>
                        <div class="clear">
                        </div>

                        </div>
                    </div>
                    <div id="autobid-area1"></div>      

                    <div id="auction-content" class="bbCode">
                       <div id="tab-headers-bg">
                       <div class="clear">
                       </div>
                       </ul>
                       </div>
                       <span><h2 style="text-align: center; padding: 10px;">Mô tả sản phẩm</h2></span>
                       <div id="tab-contents">
                       <div class="tab-content tab-content-active" id="content-description">
                           <div class="section-zone">
                               <div class="sz-title" id="productDetail">
                               {{{ChiTietSanPham}}}
                               </div>
                           </div>
                       </div>
                       </div>
                       <div class="text-center">
                       <img class="bbCodeImg" src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_1.jpg" alt="" />
                       <br />
                       <br />
                       <img class="bbCodeImg" src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_2.jpg" alt="" />
                       <br />
                       <br />
                       <img class="bbCodeImg" src="/assests/product/{{SanPhamId}}/{{SanPhamId}}_3.jpg" alt="" />
                       <br />
                       </div>
                       </div>
                    </div>

    {{#if ../layoutModels.isLogged }}
        
    {{/if}}
    <script type="text/javascript">
        var timeout = null; // Timeout
        var today = new Date();
        var curUnixTime = today.getTime();
        var t = 0;
        function timeConverter(UNIX_timestamp){
            var a = new Date(UNIX_timestamp);
            var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var min = a.getMinutes();
            var sec = a.getSeconds();
            var time = date + '/' + month + '/' + year + ' lúc ' + hour + ':' + min + ':' + sec ;
            document.getElementById('startTime').innerText = time;
        }
        timeConverter({{ThoiGianBatDau}});
        function timeConverter2(UNIX_timestamp){
            var a = new Date(UNIX_timestamp);
            var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var min = a.getMinutes();
            var sec = a.getSeconds();
            var time = date + '/' + month + '/' + year + ' lúc ' + hour + ':' + min + ':' + sec ;
            document.getElementById('endTime').innerText = time;
        }
        timeConverter2({{ThoiGianKetThuc}});

    </script>
   <!--  <script type="text/javascript">
        function stringToHTML(){
            var str = "{{ChiTietSanPham}}";
            // <p>Thương hiệu: TARGUS - THZ195AP-51</p><p>Xuất xứ: Chính hãng</p><p>Tương thích: Ipad Air</p><p>Màu: Xanh đen</p><p>Kích thước: (mở rộng đầy đủ) 18 x 24,2 x 2,6 cm<br />Trọng lượng: 260grm</p>
            document.getElementById('productDetail').innerHTML = str;
            alert(213);
        };
        //stringToHTML();
    </script> -->
{{/with}}
<script type="text/javascript">
    var visible_items = $('#thumb-items img').length >= 10 ? 10 : $('#thumb-items img').length;
            
             $("#thumb-items").jCarouselLite({
                auto: 60000,
                visible: visible_items,
                start: 0,
                scroll: 1,
                hoverPause: true,
                btnNext: "#thumb-zone #thumb-control-right",
                btnPrev: "#thumb-zone #thumb-control-left",

            });  

            if (visible_items < 10) {
                $('#thumb-control-right,#thumb-control-left').unbind('click');
            }

            $("#thumb-items").trigger('endCarousel');
            
            $('#thumb-items img').hover(function() {
                console.log($(this).attr('src'));
                $('.auction-images img').attr('src', $(this).attr('src'));
            });
</script>